DATABASE_URL=mysql+pymysql://root:123456@localhost:3306/ai_chat
REDIS_URL=redis://localhost:6379/0
DIFY_API_KEY=
DIFY_BASE_URL=http://localhost:5001/v1  # Dify默认端口
SECRET_KEY=09d25e094faa6ca2556c818166b7a9563b93f7099f6f0f4caa6cf63b88e8d3e7
